black~=19.10b0
check-manifest~=0.41
docutils~=0.16
flake8~=3.7.9
pytest~=5.3.5
pytest-cov~=2.8.1
pytest-mock~=3.0.0
sphinx~=2.4.3
sphinx_py3doc_enhanced_theme~=2.4.0
coveralls~=1.11.1
bumpversion~=0.5.3
